[Unit]
Description=Prometheus Amlen (Messagesight) Exporter

[Service]
TimeoutStartSec=0
User={{ amlen_exporter_user }}
ExecStart={{ amlen_exporter_bin_path }} {{ amlen_exporter_port }} {{ amlen_exporter_target }}

SyslogIdentifier=amlen_exporter
Restart=always

[Install]
WantedBy=multi-user.target
